* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

form,
table {
    margin: 75px 0 !important; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}